<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">MongoDB NYT Scrapper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/saved">Saved Articles <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="saved jumbotron jumbotron-fluid text-center">
  <div class="overlay">
    <div class="movedown container">
        <div class="jumbo-text">
            <h1 class="display-3">Saved Articles</h1>
            <p class="lead">Let's View and Save Notes to your Articles!</p>
        </div>
    </div>
  </div>
</div>